@model DigitalStore.Models.CreateAccountViewModel
@{
    ViewBag.Title = "Đăng ký ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<main aria-labelledby="title" style="margin-top: 160px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 id="title">@ViewBag.Title</h2>
                @using (Html.BeginForm("RegisterPublisher", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Tạo tài khoản của bạn</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row pb-4">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pb-4">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pb-4">
                        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pb-4">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pb-4">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" value="Đăng ký" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
