@model PagedList.PagedList<DigitalStore.Models.EF.Game>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách Game";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Naviheader
{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Game" class="nav-link">Quản lý Game</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="/code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
@section body{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý Game</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Game</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách Game</h3>

                <div class="card-tools">
                    <a href="/Admin/Game/Add" class="btn btn-primary">Thêm mới</a>
                    <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>
                </div>
            </div>


            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        @using (Html.BeginForm("index", "Game", FormMethod.Get, new { }))
                        {

                            <div class="input-group input-group-sm">
                                @Html.TextBox("SearchText")
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="SelectAll" /></th>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Thể loại</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Home</th>
                            <th>Featured</th>
                            <th>Sale</th>
                            <th>New</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1; ;
                            foreach (var item in Model)
                            {
                                if (item.Publishers.Name == User.Identity.Name && User.IsInRole("Publisher"))
                                {
                                    var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckFeatured = item.IsFeatured ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckNew = item.IsNew ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    <tr id="trow_@item.Id">
                                        <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.GameGenres.Name</td>
                                        <td><img class="imggame" data-id="@item.Id" src="@item.Image" width="100" /></td>
                                        <td>@item.Price</td>
                                        <td>@item.CreatedDate</td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnActive">
                                                @Html.Raw(strCheck)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnHome">
                                                @Html.Raw(strCheckHome)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnFeatured">
                                                @Html.Raw(strCheckFeatured)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnSale">
                                                @Html.Raw(strCheckSale)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnNew">
                                                @Html.Raw(strCheckNew)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="/Admin/Game/Edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                            <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                                if (User.IsInRole("Admin"))
                                {
                                    var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckFeatured = item.IsFeatured ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    var strCheckNew = item.IsNew ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                    <tr id="trow_@item.Id">
                                        <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.GameGenres.Name</td>
                                        <td><img class="imggame" data-id="@item.Id" src="@item.Image" width="100" /></td>
                                        <td>@item.Price</td>
                                        <td>@item.CreatedDate</td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnActive">
                                                @Html.Raw(strCheck)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnHome">
                                                @Html.Raw(strCheckHome)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnFeatured">
                                                @Html.Raw(strCheckFeatured)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnSale">
                                                @Html.Raw(strCheckSale)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href='#' data-id="@item.Id" class="btnNew">
                                                @Html.Raw(strCheckNew)
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="/Admin/Game/Edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                            <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6" style="">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>


            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
    <div id="dialog">
        <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
    </div>
}
    @section scripts
{
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function () {

                $("#dialog").dialog({
                    autoOpen: false,
                    show: "fade",
                    hide: "fade",
                    modal: true,
                    height: '600',
                    width: '700',
                    resizeable: true,
                    title: 'Quản lý ảnh của Game',
                    close: function () {
                        window.location.reload();
                    }
                });
                $('body').on("click", ".imggame", function () {
                    var gameid = $(this).attr("data-id");
                    $("#dialog #myIframe").attr("src", "/Admin/GameImages/Index?id=" + gameid);
                    $('#dialog').dialog('open');
                    return false;
                });


                $('body').on('click', '#btnDeleteAll', function (e) {
                    e.preventDefault();
                    var str = "";
                    var checkbox = $(this).parents('.card').find('tr td input: checkbox');
                    var i = 0;
                    checkbox.each(function () {
                        if (this.checked) {
                            check.attr('selected', 'checked');
                            var _id = $(this).val();
                            if (i === 0) {
                                str += _id;
                            }
                            else {
                                str += "," + _id;
                            }
                            i++;
                        }
                        else {
                            checkbox.attr('selected', '');
                        }
                    });
                    if (str.length > 0) {
                        var conf = confirm('Xóa ?');
                        if (conf === true) {
                            $.ajax({
                                url: '/Admin/Game/DeleteAll',
                                type: 'POST',
                                data: { ids: str },
                                success: function (rs) {
                                    if (rs.success) {
                                        location.reload();
                                    }
                                }
                            });
                        }
                    }
                });

                $('body').on('change', "#SelectAll", function () {
                    var checkStatus = this.checked;
                    var checkbox = $(this).parents('.card-body').find('tr td input: checkbox');
                    checkbox.each(function () {
                        this.checked = checkStatus;
                        if (this.checked) {
                            checkbox.attr('selected', 'checked');
                        }
                        else {
                            checkbox.attr('selected', '')
                        }
                    });
                });


                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");
                    var conf = confirm("Bạn có muốn xóa danh mục này không ?");
                    if (conf == true) {
                        $.ajax({
                            url: '/Admin/Game/Delete',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                }
                            }
                        });
                    }
                });


                $('body').on('click', '.btnActive', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data("id");
                    $.ajax({
                        url: '/Admin/Game/IsActive',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                if (rs.IsActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                    location.reload();
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                    location.reload();
                                }
                            }
                        }
                    });
                });

                $('body').on('click', '.btnNew', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data("id");
                    $.ajax({
                        url: '/Admin/Game/IsNew',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                if (rs.IsActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                    location.reload();
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                    location.reload();
                                }
                            }
                        }
                    });
                });

                $('body').on('click', '.btnHome', function (e) {
                    e.preventDefault();
                    var btn = $(this)
                    var id = btn.data("id");
                    $.ajax({
                        url: "/Admin/Game/IsHome",
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            debugger;
                            if (rs.success) {
                                if (rs.IsActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                    location.reload();
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                    location.reload();
                                }
                            }

                        }
                    });
                });

                $('body').on('click', '.btnSale', function (e) {
                    e.preventDefault();
                    var btn = $(this)
                    var id = btn.data("id");
                    $.ajax({
                        url: "/Admin/Game/IsSale",
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            debugger;
                            if (rs.success) {
                                if (rs.IsSale) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                    location.reload();
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                    location.reload();
                                }
                            }

                        }
                    });
                });
                $('body').on('click', '.btnFeatured', function (e) {
                    e.preventDefault();
                    var btn = $(this)
                    var id = btn.data("id");
                    $.ajax({
                        url: "/Admin/Game/IsFeatured",
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            debugger;
                            if (rs.success) {
                                if (rs.IsSale) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                    location.reload();
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                    location.reload();
                                }
                            }

                        }
                    });
                });
            });

        </script>
    }

