@model IEnumerable<DigitalStore.Models.EF.Review>
<div class="tab_title reviews_title">
    <h4>Đánh giá (@ViewBag.Count)</h4>
</div>

<!-- User Review -->
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="user_review_container d-flex flex-column flex-sm-row" style="height: 100px;">
            <div class="user">
                <div class="user_pic"></div>
                <div class="user_rating">
                    <ul class="star_rating">
                        @Html.Raw(DigitalStore.Common.Common.HtmlRate(item.Rate))
                    </ul>
                </div>
            </div>
            <div class="review">
                <div class="review_date">@item.CreateDate</div>
                <div class="user_name">@item.FullName</div>
                <p>@item.Content</p>
            </div>
        </div>

    }

}
else
{
<div class="user_review_container d-flex flex-column flex-sm-row" style="height: 100px;">
    <div class="user">
        <div class="user_rating">
            <ul class="star_rating">
            </ul>
        </div>
        <h4>Chưa có đánh giá nào</h4>
    </div>
    <div class="review">
        <div class="review_date"></div>
        <div class="user_name"></div>
        <p></p>
    </div>
</div>
}
