
@model DigitalStore.Models.EF.Review


<div class="add_review">
    @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_review",
        OnSuccess = "OnSuccessRE",
        OnFailure = "OnFailureRE",
        OnBegin = "OnBeginRE"
    }, new { @Id = "review_form" }
    ))
    {
        <script>
            function OnBeginRE() {
                $('#review_submit').attr("disabled", "disabled");
            }
            function OnSuccessRE(res) {
                if (res.Success) {
                    $('#review_form')[0].reset();
                    location.reload();
                }
            }
        </script>
        @Html.AntiForgeryToken()
        <div>
            <h1>Viết đánh giá</h1>
            @Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "Tên", @id = "review_name" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_name", @placeholder = "Email", @id = "review_email" })
            @Html.HiddenFor(x => x.UserName)
            @Html.HiddenFor(x => x.GameId, new { @value = ViewBag.GameId })
            <input type="text" id="txtRate" name="Rate" value="4" style="visibility: hidden;" />
            @*<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">*@
            @*<input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">*@
        </div>
        <div>
            <h1>
                Đánh giá của bạn:
                <ul class="user_star_rating">
                    <li><i class='bx bx-star' style='color:rgba(214,253,0,0.98)'></i></li>
                    <li><i class='bx bx-star' style='color:rgba(214,253,0,0.98)'></i></li>
                    <li><i class='bx bx-star' style='color:rgba(214,253,0,0.98)'></i></li>
                    <li><i class='bx bx-star' style='color:rgba(214,253,0,0.98)'></i></li>
                    <li><i class='bx bx-star' style='color:rgba(214,253,0,0.98)'></i></li>
                </ul>
            </h1>
            @Html.TextAreaFor(x => x.Content, new { @class = "input_review", @row = "4", @placeholder = "Bình luận của bạn ..." })
            @*<textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>*@
        </div>
        <div class="text-left text-sm-right" style="top: 10px; right: 370px;">
            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gửi</button>
        </div>

    }
</div>