@model DigitalStore.Models.EF.Voucher
@{
    ViewBag.Title = "Cập nhật Voucher";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index","Voucher")" class="nav-link">Voucher</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Edit","Voucher")" class="nav-link">Cập nhật thông tin Voucher</a>
        </li>
    </ul>
}
@section body{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cập nhật Voucher</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Voucher")">Voucher</a></li>
                        <li class="breadcrumb-item active">Cập nhật</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin cập nhật</h3>

                <div class="card-tools">
                    <a href="~/Voucher/Edit" class="btn btn-primary">Cập nhật thông tin Voucher</a>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body p-0">
                    <div class="bs-stepper linear">

                        <div class="bs-stepper-content">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Edit", "Voucher", FormMethod.Post, new { }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                        </ul>
                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="active tab-pane" id="activity">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Mã Voucher</label>
                                                    @Html.TextBoxFor(x => x.VoucherCode, new { @class = "form-control", @placeholder = "Mã Voucher" })
                                                    @Html.ValidationMessageFor(x => x.VoucherCode, null, new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Danh mục Voucher</label>
                                                    @Html.DropDownListFor(x => x.VoucherType, ViewBag.VoucherCategory as SelectList, "Chọn danh mục Voucher", new { @class = "form-control", @placeholder = "Danh sách danh mục Voucher" })
                                                    @Html.ValidationMessageFor(x => x.VoucherType, null, new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail">Giá giảm</label>
                                                    <input type="text" name="demoPrice" value="@Html.DisplayFor(x => x.DiscountPrice)" id="demoPrice" class="form-control auto" data-a-sign="" data-a-dec="," data-a-sep="." />
                                                    @Html.HiddenFor(x => x.DiscountPrice, new { @class = "", @placeholder = "Giá giảm" })
                                                    @Html.ValidationMessageFor(x => x.DiscountPrice, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Ngày bắt đầu</label>
                                                            @Html.TextBoxFor(x => x.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", @readonly = "true", @placeholder = DateTime.Now.AddDays(1).Date })
                                                            @Html.ValidationMessageFor(x => x.StartDate, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Ngày kết thúc</label>
                                                            @Html.TextBoxFor(x => x.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", @readonly = "true", @placeholder = DateTime.Now.AddDays(1).Date })
                                                            @Html.ValidationMessageFor(x => x.EndDate, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.tab-content -->
                                        <div class="form-group">
                                            <a href="/Admin/Voucher" class="btn btn-danger">Quay lại</a>
                                            <button type="submit" class="btn btn-success">lưu</button>
                                        </div>
                                    </div><!-- /.card-body -->

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
}
@section scripts{
    <script>$(document).ready(function () {
                $('.auto').autoNumeric('init');
                $('#demoPrice').bind('blur focusout keypress keyup', function () {
                    var demoGet = $('#demoPrice').autoNumeric('get');
                    $('#DiscountPrice').val(demoGet);
                    $('#DiscountPrice').autoNumeric('set', demoGet);
                });
                $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                    var demoGet = $('#demoPriceSale').autoNumeric('get');
                    $('#PriceSale').val(demoGet);
                    $('#PriceSale').autoNumeric('set', demoGet);
                });
                $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                    var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                    $('#OriginalPrice').val(demoGet);
                    $('#OriginalPrice').autoNumeric('set', demoGet);
                });

    </script>
}


